/*
  Colors
*/

// Define commonly used colors.
// All colors are fully opaque; adjust transparency
// as needed when referenced/used.
$white: hsla(0, 0, 100, 1);
$black: hsla(0, 0, 0, 1);

$light-gray: hsla(0, 0, 93, 1);

$dark-blue: hsla(212, 49, 21, 1);
$med-blue: hsla(212, 49, 50, 1);

$med-orange: hsla(36, 100, 50, 1);

.theme-a {
  /*
    BG:   Dark blue
    Font: Light gray
  */

  color: $light-gray;
  background-color: rgba($dark-blue, .60);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $med-orange;
  }
}

.theme-b {
  /*
    BG:   Light gray
    Font: Dark blue
  */

  color: $dark-blue;
  background-color: rgba($white, .45);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $med-blue;
  }
}

.theme-c {
  /*
    BG:   Dark gray
    Font: Light gray
  */

  color: $light-gray;
  background-color: rgba($black, .40);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $med-orange;
  }
}
