/*
  Colors
*/

// Define commonly used colors.
// All colors are fully opaque; adjust transparency
// as needed when referenced/used.
$white: hsla(0, 0, 100, 1);
$black: hsla(0, 0, 0, 1);

$light-gray: hsla(0, 0, 93, 1);

$dark-blue: hsla(212, 33, 16, 1);
$med-blue: hsla(212, 33, 38, 1);

$med-orange: hsla(36, 100, 50, 1);

.theme-a {
  /*
    BG:     Dark blue
    Header: Orange
    Font:   Light gray
  */

  color: $light-gray;
  background-color: rgba($dark-blue, .60);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $med-orange;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $med-orange;

    &:hover,
    &:active {
      color: lighten($med-orange, 20%);
    }
  }
}

.theme-b {
  /*
    BG:     Light gray
    Header: Dark blue
    Font:   Dark blue
  */

  color: $dark-blue;
  background-color: rgba($white, .60);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $med-blue;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $med-blue;

    &:hover,
    &:active {
      color: lighten($med-blue, 20%);
    }
  }
}

.theme-c {
  /*
    BG:     Dark gray
    Header: Orange
    Font:   Light gray
  */

  color: $light-gray;
  background-color: rgba($black, .40);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $med-orange;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $med-orange;

    &:hover,
    &:active {
      color: lighten($med-orange, 20%);
    }
  }
}

.theme-d {
  /*
    BG:     Light gray
    Header: Orange (1-2), Blue (3-6)
    Font:   Dark blue
  */

  color: $dark-blue;
  background-color: rgba($white, .60);

  h1,
  h2 {
    color: $med-orange;
  }

  h3,
  h4,
  h5,
  h6 {
    color: $med-blue;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    color: $med-blue;

    &:hover,
    &:active {
      color: lighten($med-blue, 20%);
    }
  }
}
