/* Contact form styles */

.contact {
  @extend .container, .col-lg-pad-2, .col-lg-pad-right-2;

  padding-bottom: 40px;

  .left-col {
    @extend .col-md-6, .col-sm-12;
  }

  .right-col {
    @extend .col-md-6, .col-sm-12;
    float: right;
  }

  $input-height: 40px;
  $input-margin: 10px;

  input,
  textarea {
    width: 100%;
    height: $input-height;

    @include respond-to(small, true) {
      margin-top: $input-margin;
    }

    @include respond-to(medium, true) {
      margin-top: $input-margin;
    }

    @include respond-to(large, true) {
      &:nth-of-type(2) {
        margin-top: $input-margin;
      }
    }
  }

  textarea {
    height: ($input-height * 2) + $input-margin;
  }

  button {
    @extend .col-lg-6, .col-lg-offset-3, .col-md-6, .col-md-offset-3, .col-sm-12;

    height: $input-height;
    // Adding 5px to input height seems necessary to vertically
    // center button text.
    line-height: $input-height + 5px;

    margin-top: 20px;
  }
}
