/*
  Fonts
*/

// Import Roboto from Google Web Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic);

// Bebas Neue Light
@font-face {
  font-family: "BebasLight";
  src: url("../fonts/BebasNeue-Light.woff");
}

// Bebas Neue Book
@font-face {
  font-family: "BebasBook";
  src: url("../fonts/BebasNeue-Book.woff");
}

// Bebas Neue Regular
@font-face {
  font-family: "BebasRegular";
  src: url("../fonts/BebasNeue-Regular.woff");
}

/*
  Text styles
*/

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* H1, H2 are Bebas Book */

h1,
h2 {
  font-family: "BebasBook";
  font-weight: bold;
}

h1 {
  font-size: 90px;
  letter-spacing: 15px;
  color: $white;
  text-align: center;
}

h2 {
  font-size: 44px;
  letter-spacing: 5px;
  text-align: center;
}

/* H3-5 are Roboto Light */

h3,
h4,
h5 {
  font-family: "Roboto";
  font-weight: 300;
}

h3 {
  font-size: 24px;
  letter-spacing: 1.5px;
  line-height: 34px;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

button {
  font-family: "BebasRegular";

  font-size: 24px;
  letter-spacing: 6px;
  font-weight: bold;
}
