/*
  Basic grid foundation.
*/

.container {
  width: auto;
  margin: 0 auto;
}

.container:after,
.row:after {
  // Float container fix.
  content: "";
  display: table;
  clear: both;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

@mixin padded-box {
  float: left;
  padding: 0 1%;
}

@mixin grid-builder($size, $col) {
  .col-#{$size}-#{$col} {
      @include padded-box;
      width: ($col / 12) * 100%;
  }

  .col-#{$site}-offset-#{$col} {
    margin-left: ($col / 12) * 100%;
  }
}

@for $i from 1 through 12 {
  @include grid-builder('sm', $i);
}

@media only screen and (min-width: $break-md) {
  @for $i from 1 through 12 {
    @include grid-builder('md', $i);
  }
}

@media only screen and (min-width: $break-lg) {
  @for $i from 1 through 12 {
    @include grid-builder('lg', $i);
  }
}

.center-content {
  max-width: 1024px;
  margin: 0 auto;
}
