/* Hero Styles */

.hero {
  @extend .theme-a;

  padding: 10px;

  h1 {
    font-family: "BebasLight";
    font-size: 30px;

    @include respond-to(medium) {
      font-size: 90px;
    }

    color: $white;

    // Negative right marging compensates for letter-spacing padding.
    margin: 35px -15px 40px 0;

    .soft {
      margin: 0 -10px;
      color: hsla(0, 0, 61, .4);
    }
  }

  h3 {
    text-align: center;
    color: $white;

    .rotator {
      color: $med-orange;

      margin-right: .3em;
    }
  }
}
