/* Home styles */

.skills-list {
  @include plain-list;

  > li {
    display: inline-block;
    float: left;
    width: 100%;
    height: 230px;

    @include respond-to(medium) {
      width: 50%;
    }
  }

  h3 {
    margin-top: .3em;
    margin-bottom: .2em;
  }
}

.icon-container {
  height: 70px;

  @extend .text-center;

  .icon {
    width: 60px;
  }
}

.skill-items {
  @include plain-list;
}

.rslides .project-list-item {
  height: 580px;

  @include respond-to(medium) {
    height: 390px;
  }
}

.slide-controls {
  @extend .container;
  position: relative;

  height: 50px;
  margin-top: 15px;

  .rslides_here {
    font-weight: bold;
  }

  .rslides_tabs {
    @include plain-list;

    padding: 0;
    margin: 0;

    position: absolute;
    left: 0; right: 0; top: 0;

    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }

  .rslides_nav {
    &.prev {
      position: absolute;
      left: 0;
    }

    &.next {
      position: absolute;
      right: 0;
    }
  }
}
