/* Home styles */

.skills-list {
  @include plain-list;

  > li {
    display: inline-block;
    float: left;
    width: 100%;
    height: 230px;

    @include respond-to(medium) {
      width: 50%;
    }
  }

  h3 {
    margin-top: .3em;
    margin-bottom: .2em;
  }
}

.icon-container {
  height: 70px;

  @extend .text-center;

  .icon {
    width: 60px;
  }
}

.skill-items {
  @include plain-list;
}

.rslides .project-list-item {
  height: 670px;

  @include respond-to(medium) {
    height: 420px;
  }
}

.slide-controls {
  @extend .container;
  position: relative;

  height: 50px;
  margin-top: 15px;

  $base-opacity: .3;
  $strong-opacity: .75;



  .rslides_tabs {
    @include plain-list;

    padding: 0;
    margin: 0;

    position: absolute;
    left: 0; right: 0; top: 0;

    text-align: center;


    li {
      display: inline-block;
      margin: 13px 10px 0 10px;

      a {
        text-indent: -9999px;
        background: url(/images/showcase/status.svg) no-repeat;
        height: 10px;
        width: 58px;
        display: inline-block;
        opacity: $base-opacity;

        &:hover {
          opacity: $strong-opacity;
          cursor: pointer;
        }
      }

      &.rslides_here a {
        opacity: $strong-opacity;
      }
    }
  }

  .rslides_nav {
    &.prev {
      position: absolute;
      left: 0;

      text-indent: -9999px;
      opacity: $base-opacity;

      width: 30px;
      height: 40px;

      background: url(/images/showcase/previous.svg) no-repeat;

      &:hover {
        opacity: $strong-opacity;
        cursor: pointer;
      }
    }

    &.next {
      position: absolute;
      right: 0;

      text-indent: -9999px;
      opacity: $base-opacity;

      width: 30px;
      height: 40px;

      background: url(/images/showcase/next.svg) no-repeat;

      &:hover {
        opacity: $strong-opacity;
        cursor: pointer;
      }
    }
  }
}
