.projectBillboard {
	/* display: inline-block; */
	width: 250px;
	/* margin: 5px 8px; */
	text-align: center;
	border: 0 none;
	color: #666;
}

.projectBillboard:hover {
	border: 0 none;
	color: #000;
}

.projectBillboard:hover .portfolioProjectLetter {
	font-family: 'heraldSquare';
	padding-top: 1px;
}

.projectBillboardTitle {
	display: block;
	font-family: 'trajanPro';
	font-size: 18pt;
	margin-bottom: -5px;
}

.projectBillboardDescription {
	display: inline-block;
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	padding-left: 3px;
	padding-bottom: 2px;
	font-size: 10pt;
}

.portfolioProjectLetter {
	font-family: 'heraldSquareTwo';
	display: inline-block;
	width: 100px;
	height: 100px;
	font-size: 72pt;
	margin-top: -15px;
}