@font-face {
	font-family: 'trajanPro';
	src: url('fonts/trajan-pro.ttf'), url('fonts/trajan-pro.eot');
}

@font-face {
	font-family: 'museo';
	src: url('fonts/Museo500.ttf'), url('fonts/Museo500.eot');
}

@font-face {
	font-family: 'heraldSquare';
	src: url('fonts/herald-square.ttf'), url('fonts/herald-square.eot');
}

@font-face {
	font-family: 'heraldSquareTwo';
	src: url('fonts/herald-square-two.ttf'),
		url('fonts/herald-square-two.eot');
}

@font-face {
	font-family: 'euphemia';
	src: url('fonts/euphemia.ttf'), url('fonts/euphemia.eot');
}

body {
	background-image: url('images/stripe_light_1_tiled.png');
	font-family: 'euphemia';
	font-size: 10pt;
}

.topBar {
	width: 100%;
	height: 75px;
	background: #404040;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.topBarShadow {
	width: 100%;
	height: 10px;
	background: #CECECE;
	position: absolute;
	left: 0px;
	top: 75px;
	z-index: 0;
}

.allContent {
	width: 780px;
	margin: 0px auto 0px auto;
	z-index: 1;
	position: relative;
}

.titleBar {
	color: #CECECE;
	font-family: 'trajanPro';
}

.name {
	font-size: 20pt;
}

.navigationLinks A {
	color: #CECECE;
	font-size: 16pt;
	margin-right: 15px;
	text-decoration: none;
	border: none;
}

.navigationLinks A:hover {
	border-bottom: 1px solid #CECECE;
	color: #CECECE;
}

.pageContent {
	margin-top: 10px;
	margin-top: 36px;
}

.contentBox {
	background: #FFFFFF;
	border: 1px solid #CECECE;
}

ul {
	margin-top: 3px;
}

li {
	margin-top: 3px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a.standardLink {
	color: #000;
	text-decoration: none;
	border-bottom: 1px dashed #ccc;
}

a.standardLink:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #999;
}

.table {
	display: table;
	border-spacing: 8px;
}

.row {
	display: table-row;
	vertical-align: top;
}

.cell {
	display: table-cell;
	vertical-align: top;
}

.diamondGlyph li {
	list-style-type: none;
	background: url('images/diamond-glyph.png') no-repeat 0px 5px;
	padding-left: 15px;
	margin-left: -30px;
}

img.resumeIcon {
	margin-top: 5px;
}