//- Common Utilities

mixin skillIconBuilder(iconName)
  case iconName
    when 'design'
      svg.icon(viewBox="0 0 58 58" title="Design")
        include ../static/images/skill-icons/design.svg
    when 'dev'
      svg.icon(viewBox="0 0 57 57")
        include ../static/images/skill-icons/dev.svg
    when 'ux'
      svg.icon(viewBox="0 0 57 46")
        include ../static/images/skill-icons/ux.svg
    when 'write'
      svg.icon(viewBox="0 0 57 58")
        include ../static/images/skill-icons/write.svg
